{% extends "template/dashboard.html" %}

{% block head %}
<script src="{{base_url()}}assets/correcao.js"></script>
<script src="{{base_url()}}assets/prism.js"></script>
<link rel="stylesheet" type="text/css" href="{{base_url()}}assets/prism.css"></link>

{% endblock %}

{% block title %}

{% include 'professores/breadcrumb.html' %}

{% endblock %}

{% block menu_lateral %}

{% endblock %}

{% block content %}


<input type="hidden" id="idturma" value="{{turma.idturma}}">

<main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid demo-content">
        <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
        <b>{{arquivo.caminho_exec}} Modificado em:{{arquivo.data}}</b>
        <hr/>
        <pre  class='line-numbers' data-src="{{base_url('/uploads/' ~ tarefa.idtarefa ~ arquivo.caminho_arq)}}"><code id="correcao" style="width:100%;" class='language-{{arquivo.ext}}'>{{arquivo.content}}</code></pre>        
        </div>
    </div>
</main>



<!-- Modal Structure -->
<div id="cadObs" class="modal bottom-sheet">
    <div class="modal-content">
        <form id='formCorrecoes' accept-charset="UTF-8" >
        
        <input type="hidden" name="idcorrecao" id="idcorrecao" value="" >
        <input type="hidden" name="idarquivo" id="idarquivo" value="{{arquivo.idarquivo}}" >
        <input type="hidden" name="linha" id="linha" value="" >
        

        <div class="row">
            <div class="input-field col s12">
                <textarea id="texto" name="texto" class="materialize-textarea" data-length="6000"></textarea>
                <label for="texto">Observação</label>
            </div>
        </div>
 
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" onclick="salvarCorrecao()" class='indigo lighten-1 btn waves-effect waves-green'>Salvar</button>
        <a href="#!" class="modal-action modal-close indigo lighten-1 btn waves-effect waves-green">Cancelar</a>
        <button type="button" onclick="excluirCorrecao()" class='red lighten-1 btn waves-effect waves-green'>Excluir</button>
    </div>
</div>


{% endblock %}