{% extends "template/dashboard.html" %}

{% block head %}
<script src="{{base_url()}}assets/professor.js"></script>
{% endblock %}

{% block title %}

{% include 'professores/breadcrumb.html' %}

{% endblock %}

{% block menu_lateral %}

{% endblock %}

{% block content %}

{% include 'professores/cadTarefa.html' %}

<input type="hidden" id="idturma" value="{{turma.idturma}}">

<main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid demo-content">
        <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
        <div>


            <div class="row">
                <div class="input-field col s12">
                    <a href="#cadTarefa"            onclick="editarTarefa({{tarefa.idtarefa}});" class="mdl-button mdl-js-button mdl-js-ripple-effect modal-trigger">Editar</a>
                    <a href="#confirmDeleteTarefa"  onclick="selectTarefa({{tarefa.idtarefa}})" class="mdl-button mdl-js-button mdl-js-ripple-effect modal-trigger">Excluir</a>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <pre>{{tarefa.texto|e}}</pre>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                {% for arq in arquivos %}
                <a target="_BLANK" href="{{base_url()}}{{arq.caminho}}" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                <img src="{{base_url('assets/imgs/')}}{{arq.ext}}.png"> {{arq.nome}}
                </a>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% for aluno in alunos %}


    <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
            <div>
            <div class="row">
                <div class="input-field col s12">
                    <h5><img class='demo-avatar' src="{{base_url(aluno.foto)}}"> {{aluno.nome|e}}&lt;{{aluno.email|e}}&gt;</h5>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="nota" name="nota" type="text" value="{{aluno.nota}}" onblur="salvarNota({{tarefa.idtarefa}},{{aluno.idusuario}},this)" class="validate col s4">
                    <label for="nota">Nota</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">

                {% if voltar != -1 %}
                    <a href="{{base_url('tarefas/index/' ~ tarefa.idtarefa ~ '/' ~ aluno.idusuario ~ '/' ~  voltar ~ '#expl')}}" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                        <img src="{{base_url('assets/imgs/back_folder.png')}}"> ..
                    </a>
                {% endif %}
                
                {% for resp in aluno.respostas %}
                    <div>
                    {% if resp.ext == "folder" %}
                        <a href="{{base_url("tarefas/index/" ~ tarefa.idtarefa ~ "/" ~ resp.idusuario ~ '/' ~ resp.idarquivo ~ '#expl' )}}" class="mdl-button mdl-js-button mdl-js-ripple-effect tooltipped" data-position="right" data-tooltip="{{resp.data}}">
                    {% else %}
                        <a target="_BLANK" href="{{base_url(resp.caminho)}}" class="mdl-button mdl-js-button mdl-js-ripple-effect tooltipped" data-position="right" data-tooltip="{{resp.data}}">
                    {% endif %}

                    <img src="{{base_url('assets/imgs/' ~ resp.ext ~ '.png')}}"> {{resp.nome}}
                    </a>

                    {% if resp.can_read %}
                        <a href="{{base_url('alunoturma/verarquivo/' ~ tarefa.idtarefa ~ '/' ~ resp.idarquivo)}}">
                            <img src="{{base_url('assets/imgs/view.png')}}" />
                        </a>
                    {% endif %}

                    {% if resp.qtd_correcoes > 0 %}
                        <span class='lime lighten-2 qtdCorrecoes'>{{resp.qtd_correcoes}}</span>
                    {% endif %}

                    <a name="expl"></a>
                    </div>
                {% endfor %}
                
                    
                </div>
            </div> 
            </div>
        
    </div>
{% endfor %}
</main>

{% endblock %}