{% for tarefa in tarefas %}
    
<div class="demo-cards mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
<div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
    <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
    
        <span class="mdl-cell mdl-cell--9-col">{{ tarefa.titulo|e }}</span>
        <span class="mdl-cell mdl-cell--3-col">
        {% if 1 == tarefa.concluido %} Concluído 
        {% else %} Não concluído
        {% endif %}
        </span>
    
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <pre>{{tarefa.texto|e}}</pre>
        <div>
        {% for arq in tarefa.arquivos %}
            <a target="_BLANK" href="{{base_url()}}{{arq.caminho}}" class="mdl-button mdl-js-button mdl-js-ripple-effect">
               <img src="{{base_url('assets/imgs/')}}{{arq.ext}}.png"> {{arq.nome}}
            </a>
        {% endfor %}
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a href="{{base_url('alunoturma/tarefa/')}}{{tarefa.idtarefa}}" class="mdl-button mdl-js-button mdl-js-ripple-effect">Abrir</a>
    </div>
</div>

<div class="demo-separator mdl-cell--1-col"></div>

</div>

{% endfor %}