{% extends "template/dashboard.html" %}

{% block head %}
<script src="{{base_url()}}assets/aluno.js"></script>
{% endblock %}

{% block title %}

{% include 'alunos/breadcrumb.html' %}

{% endblock %}

{% block menu_lateral %}
{% include 'alunos/menu_aluno.html' %}
{% endblock %}

{% block content %}


<div class="fixed-action-btn">
  
    {% if nota == "" %}
        <a class="btn-floating btn-large grey darken-2 naoCorrigida">
        Esta tarefa ainda não foi corrigida, valerá {{tarefa.nota_max}}.
        </a>
    {% else %}

        {% if nota < tarefa.nota_max * 0.25 %}
            <a class="btn-floating btn-large red darken-4 nota">
        {% elseif nota < tarefa.nota_max * 0.5 %}
            <a class="btn-floating btn-large orange darken-4 nota">
        {% elseif nota < tarefa.nota_max * 0.7 %}
            <a class="btn-floating btn-large lime darken-3 nota">
        {% elseif nota < tarefa.nota_max * 0.9 %}
            <a class="btn-floating btn-large light-green darken-1 nota">
        {% else %}
            <a class="btn-floating btn-large green darken-3 nota">
        {% endif %}
        
            Nota obtida: {{nota}}/{{tarefa.nota_max}}
        </a>
    {% endif %}
        
  </a>
</div>
      


<input type="hidden" id="idturma" value="{{turma.idturma}}">

<main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid demo-content">
        <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">

        {% if session.errors %}
        <script>
        $(function(){
            Materialize.toast( "{{session.errors}}" , 10000);
        });
        </script>
        {% endif %}
        
        <form id='respostaForm' method="POST" action="{{base_url('alunoturma/responderTarefa/' ~ tarefa.idtarefa)}}" accept-charset="UTF-8" enctype="multipart/form-data">


            <div class="row">
                <div class="col s12">
                    <img src="{{base_url(prof.foto)}}" class="demo-avatar">
                    {{prof.nome}}
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <pre>{{tarefa.texto|e}}</pre>
                </div>
            </div>


            <div class="row">
                <div class="input-field col s12">
                {% for arq in arquivos %}
                    {% if arq.exists %}
                    <a target="_BLANK" href="{{base_url(arq.caminho)}}" class="mdl-button mdl-js-button mdl-js-ripple-effect left">
                        <img src="{{base_url('assets/imgs/' ~ arq.ext ~ '.png')}}"> {{arq.nome}}
                    </a>
                    {% endif %}
                {% endfor %}
                </div>
            </div>


            
                        
            <div class="row">
                <div class="file-field input-field col s12">
                    <div class="btn mdl-color--blue-grey-600">
                        <span>Anexar resolução</span>
                        <input name="arquivo" type="file" multiple>                   
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                    <span class="helper-text">Formatos aceitos: zip, html, xhtml, js, css, jpg, png, gif.</span>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <button type="submit" class='mdl-color--blue-grey-600 btn waves-effect waves-green'>Enviar</button>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">

                {% if voltar != -1 %}
                    <a href="{{base_url('alunoturma/tarefa/' ~ tarefa.idtarefa ~ '/' ~ voltar)}}" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                        <img src="{{base_url('assets/imgs/back_folder.png')}}"> ..
                    </a>
                {% endif %}

                {% for resp in respostas %}
                

                {% if resp.exists %}
                    <div>
                    {% if resp.ext == "folder" %}
                        <a href="{{base_url("alunoturma/tarefa/" ~ tarefa.idtarefa ~ '/' ~ resp.idarquivo)}}" class="mdl-button mdl-js-button mdl-js-ripple-effect tooltipped" data-position="right" data-tooltip="{{resp.data}}">
                    {% else %}
                        <a target="_BLANK" href="{{base_url('uploads/' ~ tarefa.idtarefa ~ '/' ~ resp.idarquivo)}}" class="mdl-button mdl-js-button mdl-js-ripple-effect tooltipped" data-position="right" data-tooltip="{{resp.data}}">
                    {% endif %}

                    <img src="{{base_url('assets/imgs/' ~ resp.ext ~ '.png')}}"> {{resp.nome}}
                    </a>

                    <a href="#confirmExcluirArquivo" class="modal-trigger" onclick="selecionarArquivo({{tarefa.idtarefa}},'{{(resp.idarquivo)}}')">
                        <img src="{{base_url('assets/imgs/delete.png')}}" />
                    </a>
                    
                    {% if resp.can_read %}
                        <a href="{{base_url('alunoturma/verarquivo/' ~ tarefa.idtarefa ~ '/' ~ resp.idarquivo)}}">
                            <img src="{{base_url('assets/imgs/view.png')}}" />
                        </a>
                    {% endif %}

                    {% if resp.qtd_correcoes > 0 %}
                        <span class='lime lighten-2 qtdCorrecoes'>{{resp.qtd_correcoes}}</span>
                    {% endif %}
                    </div>

                {% else %}
                    <div>
                        <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect tooltipped" data-position="right" data-tooltip="{{resp.data}}">
                            <img src="{{base_url('assets/imgs/' ~ resp.ext ~ '.png')}}"> {{resp.nome}}
                        </a>
                        <a href="#confirmExcluirArquivo" class="modal-trigger" onclick="selecionarArquivo({{tarefa.idtarefa}},'{{(resp.idarquivo)}}')">
                            <img src="{{base_url('assets/imgs/delete.png')}}" />
                        </a>

                     
                    </div>
                {% endif %}

                {% endfor %}
                </div>
            </div>

            
        </form>

        </div>
    </div>
</main>


<div id="confirmExcluirArquivo" class="modal">
  <div class="modal-content">
    <h4>Deseja excluir esse arquivo?</h4>
  </div>
  <div class="modal-footer">
      <button type="button" onclick="deletarArquivo()" class='mdl-color--blue-grey-600 btn waves-effect waves-green'>Sim</button>
      <a href="#!" class="modal-action modal-close mdl-color--blue-grey-600 btn waves-effect waves-green">Não</a>
  </div>
</div>

{% include './alunos/entrarEmTurma.html' %}

{% endblock %}